<div class="price__container">
  <div class="price__regular">
    <span style="text-decoration: line-through;" class="compara_price-dev price-item--regular">
       Rs. 580.00
    </span>
    <span class="sale_price-dev price-item--regular">
       Rs. 580.00
    </span>
</div>