<div class="price__container">
  <div class="price__regular">
    <span class="compara_price-dev price-item--regular">
       Rs. 580.00
    </span>
    <span class="sale_price-dev price-item--regular">
    </span>
    <span class="visually-hidden visually-hidden--inline">Regular price</span>
          <span class="price-item price-item--regular">
            Rs. 580.00
          </span></div>
      <div class="price__sale">
        <span class="visually-hidden visually-hidden--inline">Sale price</span>
        <span class="price-item price-item--sale price-item--last">
          Rs. 580.00
        </span>
          <span class="visually-hidden visually-hidden--inline">Regular price</span>
          <span>
            <s class="price-item price-item--regular">
              
                Rs. 725.00
              
            </s>
          </span></div>
      <small class="unit-price caption hidden">
        <span class="visually-hidden">Unit price</span>
        <span class="price-item price-item--last">
          <span></span>
          <span aria-hidden="true">/</span>
          <span class="visually-hidden">&nbsp;per&nbsp;</span>
          <span>
          </span>
        </span>
      </small>
</div>