<div class="price__container">
  <div class="price__regular">
    <span style="text-decoration: line-through;" class="compara_price-dev price-item--regular">
      
      {{product.compare_at_price }}
    </span>
    <span class="sale_price-dev price-item--regular">
      {{product.price }}
    </span>
  </div>
</div>