<div class="social-payment-market-wrapper grid grid--1-col grid--3-col-tablet">
  {%- if has_social_icons -%}
    {%- render 'social-icons', class: 'footer__list-social' -%}
  {%- endif -%}
  
  <div class="grid__item footer__payment-method">
    <div class="footer__icons-label">We Accept</div>
    <div class="payment-methods payment-methods-list payment-methods-list--auto">
      {% assign enabled_payment_types = 'visa,master,maestro,american_express,rupay,diners_club,upi,paytm,amazon_pay' | remove: ' ' | split: ',' %}
      {% for type in enabled_payment_types %}
        {{ type | payment_type_svg_tag }}
      {% endfor %}
    </div>
  </div>

</div>

<style>
.social-payment-market-wrapper {
    padding-bottom: 25px;
    margin-top: 25px;
}

.social-payment-market-wrapper .grid__item {
    text-align: center;
}

.social-payment-market-wrapper .social_icons .list-social, .social-payment-market-wrapper .payment-methods, .social-payment-market-wrapper .payment-icon_logo {
    justify-content: center;
}
  
.social-payment-market-wrapper .footer__icons-label {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}
  
.social-payment-market-wrapper .payment-methods, .social-payment-market-wrapper .payment-icon_logo,
.social-payment-market-wrapper .social_icons .list-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.social-payment-market-wrapper .payment-icon_logo img {
    max-width: 90px;
    height: auto;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
}
  
.social-payment-market-wrapper .social_icons .list-social__item a {
    padding: 0;
}
</style>