
  <div class="organic-section color-{{ section.settings.color_scheme }}">
    <div class="organic-container page-width">
       {% for block in section.blocks %}
          <div class="organic-item">
            <!-- <div class="icon"> -->
              <img src="{{ block.settings.image | img_url:'master' }}" class="icon color-{{ section.settings.color_scheme }}" alt="block-img">
            <!-- </div> -->
            <p>{{ block.settings.title }}</p>
          </div>
      {% endfor %}
    </div>
  </div>

    {% schema %}
{
    "name": "USP Section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }, 
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "coll-desc",
        "label": "Description"
      },
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, 
          {
            "type": "text",
            "id": "sub-title",
            "label": "Sub Title"
          }, 
        ]
      }
    ],
    "presets": [
      {
        "name": "USP Section"

      }
    ]
  }
{% endschema %}
  <style>
      .organic-section {
          background-color: #114b4b;
          padding: 60px 20px;
          /* clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%); */
          color: #fff;
        }
        
        .organic-section .organic-container {
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          text-align: center;
          gap: 30px;
        }
        
        .organic-section .organic-item {
          flex: 1 1 160px;
          color: #e6f2f2;
        }
        
        .organic-section .icon {
          background-color: #f1dc47;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          margin: 0 auto 20px auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .organic-section .icon img {
          width: 40px;
          height: 40px;
        }
        
        .organic-section .organic-item p {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
        }
        @media screen and (max-width: 749px) {
          .organic-section .organic-container {
              display: flex;
              align-items:center;
          }
        }

  </style>
