/* Reset Css */
body * {
    letter-spacing: 0 !important;
}

body, .color-scheme-1, .color-scheme-2, .color-scheme-3, .color-scheme-4, .color-scheme-5, .header__menu-item {
    color: rgba(var(--color-foreground), 1);
}

a, a:hover, .header__active-menu-item, .header__menu-item:hover .header__active-menu-item, .header__menu-item:hover span,
.list-menu__item, .mega-menu__link:hover, .mega-menu__link--active {
    text-decoration: none !important;
}

.header__inline-menu .list-menu__item {
    font-weight: 500;
    font-size: 16px;
}
.header__inline-menu .list-menu__item:hover, .header__menu-item:hover span{
    color: #85c247;
}

#ContactForm button.button[type="submit"] {
    background: #ed3237;
    border-radius: 200px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}

.button:before, .shopify-challenge__button:before, .customer button:before, .shopify-payment-button__button--unbranded:before, .button:after, .shopify-challenge__button:after, .customer button:after, .shopify-payment-button__button--unbranded:after, .quantity:before, .quantity:after,
.field__input:focus~.field__label, .field__input:not(:placeholder-shown)~.field__label, .field__input:-webkit-autofill~.field__label, .customer .field input:focus~label, .customer .field input:not(:placeholder-shown)~label, .customer .field input:-webkit-autofill~label {
    display: none;
}

a:hover {
    transition: 0.6s all ease;
}
.header__active-menu-item,.header__menu-item:hover span,details[open]>.header__menu-item, .underline-links-hover:hover a, .collapsible-content summary:hover .accordion__title, .header__submenu .header__menu-item,
quick-add-modal .product__title>a, .cart-item__name:hover, .pagination__item:hover, a.pagination__item.link:hover {
    text-decoration:none !important;
}

*:focus-visible, .swatch-input__input:active+.swatch-input__label, .swatch-input__input:checked+.swatch-input__label, .swatch-input__input+.swatch-input__label:hover, .swatch-input__input:hover+.swatch-input__label, 
.swatch-input__input:active:focus-visible+.swatch-input__label, .swatch-input__input:checked:focus-visible+.swatch-input__label {
    outline: 0 !important;
}

*:focus-visible, .field:after, .select:after, .customer .field:after, .customer select:after, .localization-form__select:after,.field:before, .select:before, .customer .field:before, .customer select:before, .localization-form__select:before,.field:hover.field:after, .select:hover.select:after, .select__select:hover.select__select:after, .customer .field:hover.field:after, .customer select:hover.select:after, .localization-form__select:hover.localization-form__select:after,.field__input:focus, .select__select:focus, .customer .field input:focus, .customer select:focus, .localization-form__select:focus.localization-form__select:after,
.button:after, .shopify-challenge__button:after, .customer button:after, .shopify-payment-button__button--unbranded:after,.button:not([disabled]):hover:after, 
.shopify-challenge__button:hover:after, .customer button:hover:after, .shopify-payment-button__button--unbranded:hover:after,
.swatch-input__input:active:focus-visible+.swatch-input__label, .swatch-input__input:checked:focus-visible+.swatch-input__label,
.swatch-input__input:focus-visible+.swatch-input__label {
    box-shadow: none !important;
}

.button, .shopify-challenge__button, .customer button, button.shopify-payment-button__button--unbranded,.field__input, .customer .field input,.button, 
.shopify-challenge__button, .customer button,.field__input:focus, .field_select:focus, .select__select:focus, .customer .field input:focus, .customer select:focus, 
.localization-form__select:focus.localization-form__select:after {
    border:1px solid #ccc;
    border-radius: 4px;
} 
/* End reset css */

.vm-search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 7px;
  overflow: hidden;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
  background: #f5f5f5;
}
.vm-search-bar form{
  display: flex;
}
.vm-search-bar form input{
  border: none;
  background: #f5f5f5;
}
.vm-search-bar form .search__button{
    align-items: center;
    background-color: transparent;
    border: 0;
    color: currentColor;
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    width: 4.4rem;
}
.mobile-search-bar{
    margin-right: 0px;
    padding: 10px;
    justify-content: left;
    margin: 0px 42px;
    margin-bottom: 13px;
}
@media screen and (min-width: 989px) {
  .large-hide{
    display:none;
  }
}
@media screen and (max-width: 989px) {
  .vm-search-model{
    margin-bottom: 20px;
  }
  .search-modal__content {
      padding: 0 1rem 0 1rem;
  }
}
.slideshow__control-wrapper{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) !important;
}
.predictive-search__results-groups-wrapper {
    flex-direction: column;
}
@media screen and (min-width: 750px) {
    .predictive-search__result-group:first-child {
        flex: 0 !important;
    }
}
  /* card css */
  .card.card--standard.card--media {
      padding: 10px;
      text-align: left;
  }
  .card .card__heading {
      text-align-last: left;
  }
  h3.card__heading.h5 a.full-unstyled-link {
      text-align: left !important;
      font-size: 1.5rem !important;
      font-weight: 500 !important;
  }
  .product-verient{
    font-size: 14px;
  }
  .card-information {
    margin-bottom: 10px;
  }
  .product-form__submit{
    padding: 0px 20px;
    height: 0px;
    max-height: 0px;
    min-height: 33px;
    border-radius: 20px;
    z-index: 10;
  }
  .product-form__buttons{
    text-align: center;
  }

/* Collection css/ Product card css */
  .collectionTabLabel {
    margin-bottom: 2rem !important;
}
  li.tab-title a {
      color: #000;
      font-weight: 600;
  }
  .new-badge {
    --f: .5em;
    --r: .8em;
    z-index: 9;
    position: absolute;
    top: 12px;
    left: calc(-1* var(--f));
    padding-inline: .25em;
    padding-right: .5em !important;
    padding-left: .5em !important;
    line-height: 1.8;
    background: #4f872e;
    border-bottom: var(--f) solid #0005;
    border-right: var(--r) solid #0000;
    clip-path: polygon(0 0, 0 calc(100% - var(--f)), var(--f) 100%, var(--f) calc(100% - var(--f)), 100% calc(100% - var(--f)), calc(100% - var(--r)) calc(50% - var(--f) / 2), 100% 0);
}
   .home-tab {
    text-align: center;
    padding: 32px 0;
  }
  .home-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .collectionsProducts {
    display: none;
  }
  .collection_tab_heading li a {
    text-transform: capitalize;
  }
  .collection_tab_heading li.activeTab a {
   color: #4F872E;
    font-weight: 600;
  }
  .collection_tab_heading li.swiper-slide:first-child,
  .collection_tab_heading li.swiper-slide:nth-child(2n) {
    width: fit-content !important;
  }
  ul.collection_tab_heading {
    display: -webkit-inline-box;
    overflow-x: auto;
    width: 100%;
    padding-bottom:1rem
  }
  .collection_tab_heading li {
    padding: 0 1.5rem;
  }
  .collection_tab_heading li:first-child {
    padding-left: 0;
  }
  .collection_tab_heading li:last-child {
    padding-right: 0;
  }
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    display: none;
  }
  ul.collection_tab_heading::-webkit-scrollbar {
    height:3px;
  }
  ul.collection_tab_heading::-webkit-scrollbar-thumb  {
     background:#4F872E;
  }
  .collectionsProducts a.green-btn:hover{
    text-decoration:underline;
  }
  svg.placeholder-svg {
    width: 100%;
  }
  .collectionImg img {
    width: 100%;
        display: flex;
  }
  
   .CollectionP-content{
     line-height: 18px;
    padding:1.2rem 1.5rem 2.5rem;
  }
    .CollectionP-content > h3 {
    line-height: 2.7rem;
    font-size: 1.8rem;  
    min-height: 54px;   
  }
    .CollectionP-content h3 a {
    font-size: 1.8rem;   
  }
  .CollectionP-content span.f-p-description {
    font-size: 1.4rem;
    line-height: 18px;
    display:block;
    padding:1rem 0;
  }
  .price-with-btn{
   display:block;
    justify-content:space-between;
    align-items: center;
    margin: 0.5rem 0 0rem;
    width:100%;
   }
  .price-with-btn .price{
  text-align: center;
   }
    .CollectionProduct .price-with-btn .price-item{
     font-size:1.8rem;
   }
  .CollectionProduct .price--on-sale .price__sale{
    gap:0.6rem;
  } 
 .CollectionProduct .compare-price, .CollectionProduct s.price-item.price-item--regular {
    font-size: 1.1rem;
}
  .CollectionProduct span.discount-label.font-heading{
    display:none;
 }

  .price-with-btn > div{
    flex:50%;
  }
  @media screen and (min-width:768px) {
    .CollectionProduct:hover .card__media a.green-btn,
  .CollectionProduct:focus .card__media a.green-btn{
    display:flex;
  }
    .collection_tab_heading li.activeTab a,
  .collection_tab_heading li a:hover {
   border-bottom: 1.9px solid #4F872E;
  }
    .price-with-btn > div {
        flex: 100%;
        display: flex;
        justify-content: center;
  }   
    .home-tab {
      padding: 50px 0 50px;
    }
    .collectionsProducts ul {
      padding-bottom: 4rem;
      justify-content: space-between;
    }
    .collectionsProducts a.green-btn {
      width: 150px;
    }
    ul.collection_tab_heading {
      display: flex;
      justify-content: center;
      gap: 5rem;
      align-items: center;
      padding-bottom:0;
    }
    .collection_tab_heading li a {
      font-size:2rem;
    }
    h3.card__heading.h5 a.full-unstyled-link{
     font-family: Jost,sans-serif;
      font-size:1.8rem;
      font-weight:600;
      line-height:27px;
      letter-spacing: 0.36px;
      color: #000000;
      text-transform: uppercase;
      text-align:center;
    }
    CollectionProduct{
      margin:0;
    }
    .CollectionProduct .price-with-btn .price-item{
     font-size:2rem;
     }   
     .CollectionProduct .compare-price, .CollectionProduct s.price-item.price-item--regular {
        font-size: 1.2rem;
    }
    .CollectionProduct .card__information {
       min-height: 100px;
      justify-content:space-between;
    }
    .collectionsProducts ul li {
      width:24% !important;
      margin-right: 0px !important;
    }
    .collectionsProducts  ul li:hover  .CollectionProduct .quick-add {
      display:flex;
    }
  }
.collectionsProducts ul li {
  box-shadow: 0 3px 10px #eee;
  border: 1px solid #eee;
}
@media screen and (max-width: 767px){
  .collectionsProducts ul {
    padding: 1rem;
  }
}
/* End Collection product page css */