/* Reset Css */
body * {
    letter-spacing: 0 !important;
}

body, .color-scheme-1, .color-scheme-2, .color-scheme-3, .color-scheme-4, .color-scheme-5, .header__menu-item {
    color: rgba(var(--color-foreground), 1);
}

a, a:hover, .header__active-menu-item, .header__menu-item:hover .header__active-menu-item, .header__menu-item:hover span,
.list-menu__item, .mega-menu__link:hover, .mega-menu__link--active {
    text-decoration: none !important;
}

.header__inline-menu .list-menu__item {
    font-weight: 500;
    font-size: 16px;
}
.header__inline-menu .list-menu__item:hover, .header__menu-item:hover span{
    color: #85c247;
}

#ContactForm button.button[type="submit"] {
    background: #ed3237;
    border-radius: 200px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}

.button:before, .shopify-challenge__button:before, .customer button:before, .shopify-payment-button__button--unbranded:before, .button:after, .shopify-challenge__button:after, .customer button:after, .shopify-payment-button__button--unbranded:after, .quantity:before, .quantity:after,
.field__input:focus~.field__label, .field__input:not(:placeholder-shown)~.field__label, .field__input:-webkit-autofill~.field__label, .customer .field input:focus~label, .customer .field input:not(:placeholder-shown)~label, .customer .field input:-webkit-autofill~label {
    display: none;
}

a:hover {
    transition: 0.6s all ease;
}
.header__active-menu-item,.header__menu-item:hover span,details[open]>.header__menu-item, .underline-links-hover:hover a, .collapsible-content summary:hover .accordion__title, .header__submenu .header__menu-item,
quick-add-modal .product__title>a, .cart-item__name:hover, .pagination__item:hover, a.pagination__item.link:hover {
    text-decoration:none !important;
}

*:focus-visible, .swatch-input__input:active+.swatch-input__label, .swatch-input__input:checked+.swatch-input__label, .swatch-input__input+.swatch-input__label:hover, .swatch-input__input:hover+.swatch-input__label, 
.swatch-input__input:active:focus-visible+.swatch-input__label, .swatch-input__input:checked:focus-visible+.swatch-input__label {
    outline: 0 !important;
}

*:focus-visible, .field:after, .select:after, .customer .field:after, .customer select:after, .localization-form__select:after,.field:before, .select:before, .customer .field:before, .customer select:before, .localization-form__select:before,.field:hover.field:after, .select:hover.select:after, .select__select:hover.select__select:after, .customer .field:hover.field:after, .customer select:hover.select:after, .localization-form__select:hover.localization-form__select:after,.field__input:focus, .select__select:focus, .customer .field input:focus, .customer select:focus, .localization-form__select:focus.localization-form__select:after,
.button:after, .shopify-challenge__button:after, .customer button:after, .shopify-payment-button__button--unbranded:after,.button:not([disabled]):hover:after, 
.shopify-challenge__button:hover:after, .customer button:hover:after, .shopify-payment-button__button--unbranded:hover:after,
.swatch-input__input:active:focus-visible+.swatch-input__label, .swatch-input__input:checked:focus-visible+.swatch-input__label,
.swatch-input__input:focus-visible+.swatch-input__label {
    box-shadow: none !important;
}

.button, .shopify-challenge__button, .customer button, button.shopify-payment-button__button--unbranded,.field__input, .customer .field input,.button, 
.shopify-challenge__button, .customer button,.field__input:focus, .field_select:focus, .select__select:focus, .customer .field input:focus, .customer select:focus, 
.localization-form__select:focus.localization-form__select:after {
    border:1px solid #ccc;
    border-radius: 4px;
} 
/* End reset css */
h2.homepage_h2 {
    color: #064f32;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.vm-search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 7px;
  overflow: hidden;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
  background: #f5f5f5;
}
.vm-search-bar form{
  display: flex;
}
.vm-search-bar form input{
  border: none;
  background: #f5f5f5;
}
.vm-search-bar form .search__button{
    align-items: center;
    background-color: transparent;
    border: 0;
    color: currentColor;
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    width: 4.4rem;
}
.mobile-search-bar{
    margin-right: 0px;
    padding: 10px;
    justify-content: left;
    margin: 0px 42px;
    margin-bottom: 13px;
}
@media screen and (min-width: 989px) {
  .large-hide{
    display:none;
  }
}


@media screen and (max-width: 989px) {
  .vm-search-model{
    margin-bottom: 20px;
  }
  .search-modal__content {
      padding: 0 1rem 0 1rem;
  }
}
.slideshow__control-wrapper{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) !important;
}
.predictive-search__results-groups-wrapper {
    flex-direction: column;
}
@media screen and (min-width: 750px) {
    .predictive-search__result-group:first-child {
        flex: 0 !important;
    }
}
/* predictive search */
  .predictive-search__item-query-result *:not(mark) {
      font-weight: normal !important;
  }
  .predictive-search__item-heading {
      font-weight: normal !important;
  }
  p.predictive-search__item-heading.predictive-search__item-query-result.h5 {
      font-size: 14px;
      font-weight: bold !important;
  }
  p.predictive-search__item-heading.h5 {
      font-size: 14px;
      font-weight: normal !important;
  }
  a.know-more-btn.button {
      margin-bottom: 50px;
  }
/* Card css */
.product-card-wrapper  .card__heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    color: #14341E;
    text-align: center;
}
.product-card-wrapper .card__content {
    display: flex !important;
    flex-direction: column;
    padding: 20px 10px !important;
}
.product-card-wrapper .price-btn-container {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
}
.product-card-wrapper  span.price-item.price-item--sale.price-item--last {
    font-size: 14px !important;
    color: #174117;
    font-weight: 600;
}
.product-card-wrapper  s.price-item.price-item--regular {
    font-size: 14px;
    font-weight: 600;
    color: #736868fc;
}
.product-card-wrapper  span.price-item.price-item--regular {
    font-size: 14px;
    font-weight: 600;
    color: #174117;
}
.product-card-wrapper  .quick-add__submit {
    padding: 5px 0px !important;
    min-width: 100%;
    box-sizing: border-box;
    min-height: 33px;
    font-size: 12px;
    background-color: #174117;
    color: #fff;
    font-weight: 700;
    width: 120px;
}
.product-card-wrapper  .badge {
    top: 10px !important;
    border-radius: 0px;
    height: 45px;
    width: 52px;
    border-radius: 0px 25px 3px 25px;
    padding: 10px;
    font-weight: 600;
}
.product-card-wrapper  .card__badge.top {
    position: absolute;
    top: 0px;
    left: 0px;
}
.product-card-wrapper  li.grid__item, li.swiper-slide {
    box-shadow: 0 3px 10px #eee;
    border: 1px solid #eee;
    border-radius: 7px;
}
.product-card-wrapper .card__information {
    padding-top: 0px !important;
}
.footer-gif-img{
  width: 100%;
}
.product-grid-container li.grid__item {
    box-shadow: 0 3px 10px #eee;
    border: 1px solid #eee;
    border-radius: 7px;
}
.article-card .card__information {
    padding: 2rem 2rem !important;
}
/* Review */
.review_rating_wrapper .rating_count:before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('https://cdn.shopify.com/s/files/1/0791/7784/2872/files/Vector_6.png?v=1731314185') 0 0 / 12px no-repeat;
    position: relative;
    top: 1px;
}
.rating {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 15px;
    color: #FBCD0A;
    padding: 0 20px 0 0;
}
.review_rating_wrapper span.rating.jdgm-all-reviews-rating:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 20%;
    width: 1px;
    height: 60%;
    background: #7D7D7D;
}
.review_rating_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #7D7D7D;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    margin: 0px;
    min-height: 27px;
}
span.rating.jdgm-all-reviews-rating font {
    color: #7D7D7D;
}
span.custom-total-reviews {
    font-size: 15px;
    top: -2px;
    position: relative;
}
.card .review_rating_wrapper {
    margin-top: 5px;
    margin-bottom: -12px;
}
.card .jdgm-star {
    margin-right: 5px !important;
}
/* End review */
/* Pagination css */
  .pagination__item {
      background: #0F4A25;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #fff !important;
  }
  .pagination__item--current:after, .pagination__item:hover:after
  {
    width: 0rem;
  }
.thumbnail {
  border-radius: 7px;
}
product-recommendations li.grid__item {
    box-shadow: 0 3px 10px #eee;
    border: 1px solid #eee;
    border-radius: 7px;
}
h2.collapsible-content__heading.inline-richtext.h1 {
    color: #064f32;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin: 0px 0px 25px 0px;
}